<h2>Add celebrity</h2>

<form action="/celebrities" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" required><br>
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" required><br>
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" required>
  <button type="submit">Submit</button>
</form>